# Environment Secrets
FTP_USER=UPTIME-BOT
FTP_PASS=OINWAONDWOIAN

# local env vars
MC_HOST=mcip.randomhost.net
MC_VERSION= # if specified
MC_PORT= # if any
IS_OFFLINE= true
USERNAME=ThisisaBot
APP_PORT=6767
VIEWER_PORT=667677